*/target/*
*~
*#
.#*
**/*.iml
**/.idea
target/*
target
**/.classpath
**/.project
.classpath
.project
.settings
**/.settings
**/.settings/*
*.class
pom.xml.versionsBackup
.flattened-pom.xml
company-jackson.xml
company-jaxb.xml
